.container {
  display: grid;
  grid-template-rows: 1fr auto;
  max-width: 80rem;
  min-height: 100vh;
  padding: 0 2rem;
  margin: 0 auto;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem 0;
}

.title {
  margin: 0;
  line-height: 1.15;
  font-size: 4rem;
}

.description {
  margin: 4rem 0;
  line-height: 1.5;
  font-size: 1.5rem;
}

.form {

  [type="file"] {
    font-size: 1em;
    padding: 1em;
    border: solid 1px gray;
    border-radius: .5em;
  }

  button {
    color: white;
    font-size: 1em;
    background-color: blueviolet;
    padding: .5em .8em;
    border: none;
    border-radius: .2em;
  }

  code {
    text-align: left;
  }

}

.footer {
  display: flex;
  flex: 1;
  padding: 2rem 0;
  border-top: 1px solid #eaeaea;
  justify-content: center;
  align-items: center;
}